.ant-layout{
    padding: 0px;
}
.ant-layout-header,.ant-menu-overflow{
    background: linear-gradient(270deg, #56A7F2 27.97%, #ffffff00 83.44%), #2E52F8 !important;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.15);
}
.auto{
    margin-left: auto !important;
}
.headerTop {
    &.ant-layout-header{
      position:fixed;
      left:0;
      right:0;
      z-index:9;
      top:0;
      height:auto;
      padding: 0;
      .ant-menu-submenu-title{
        padding: 0;
      }
      .anticon{
        margin-right: 0;
      }
    }
}
.spanHeaderText{
    color : #FFFFFF;
    line-height: 19px;
    font-size: 14px;
}
.iconMenu{
    width: 23px;
    height: 23px;
}

.downIcon svg{
    margin-left: 5px;
    margin-bottom: 5px !important;
}

@media (max-width: 768px) {
    .spanHeaderText{
        color : #000;
    }
}
